
header {
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
#div{
    display: flex;
    gap: 20px;
    align-items: center;
}
#humberger {
    display: none;
    height: 30px;
}
 .container {
    display: block;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
@media(max-width:890px) {
    #humberger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #div{
        display: none;
    }
}
#anchor {
    color: white;
    font-weight: bolder;
}