/* /* img {
    cursor: pointer;
}
#div {
    height: 250px;
    width: 250px;
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
} */
/* body {
    text-align: center;
}
@keyframes theme {
    0% {opacity: 1; color: brown;}   37% {opacity: 0.5; color: wheat;} 55% {opacity: 0; color: white;}  74% {opacity: 0.6; color: lightblue;}   100% {opacity:1; color: blue} ;
}
@keyframes themer {
    0% {color: brown;}  50%   {color: #fff;} 100% {color: #00f;} 
}
@keyframes spin {
    from  {transform: rotateY(0deg);} to {transform: rotateY(360deg);} ;
} */

/* img {
    height: 200px;
    width: 350px;
    cursor: pointer;
    border-radius: 30px;
}
button {
    cursor: pointer;
} */



/* #card {
    border: 1px solid #f00;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
}
#card-inner {
    border: 1px solid #0f0;
    width: 400px;
    height: 400px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

    .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      border: 1px solid #333;
      border-radius: 10px;
    }
#front-side {
    border: 1px solid #00f;
    width: 400px;
    height: 400px;
      background: lightblue;} 
#back-side {
    border: 1px solid #000;
    width: 400px;
    height: 400px;
    background: lightcoral;
    transform: rotateY(180deg);
} */ 

/* 
  .card {
      width: 200px;
      height: 300px;
      perspective: 1000px; /* 3D effect */
      /* cursor: pointer; */
    /* }

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .card.flipped .card-inner {
      transform: rotateY(180deg);
    }

    .front-side , .back-side{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      border: 1px solid #333;
      border-radius: 10px;
    }

    .front-side {
      background: lightblue;
    }

    .back-side {
      background: lightcoral;
      transform: rotateY(180deg);
    } */ 

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.b {
  position: absolute;
  height: 40px;
  width: 80px;
}
#leftButton {
  left: 75%;
  top: 180px;
}
#rightButton {
  left: 19.1%;
  top: 168px;
}